.userRegisterBody {
    background-image: url('../../../TestImages/fruitCakes.jpg');
    background-size: cover;
    padding: 100px;
    min-height: 87.7vh;
}

.userRegisterForm {
    background-color: rgba(27, 38, 43, 0.934) !important;
    color: rgb(245, 243, 236);
    border-radius: 10px !important;
}

.userRegisterInput {
    background-color: rgb(250, 249, 245);
}