.homePageBody {
  min-height: 779px;
  /* max-height: 720px; */
}

.listContainer {
  text-align: center;
  /* border: 1px solid black; */
}

.mapContainer {
  text-align: center;
  /* border: 1px solid black; */
  height: 52px;
  /* padding: 100px; */
}

.filterMapBody {
  padding: 40px;
}