.cardImg {
    background-image: url('../../TestImages/farmers_market1.jpg');
    background-size: cover;
    height: 200px;
}

.favoriteBtn {
    float: right;
}

.cardTitle {
    text-decoration: underline;
}