.map-body {
    background-image: url('../../../TestImages/Map.png');
    background-size: cover;
    border-radius: 5px;
    min-height: 620px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
    /* text-align: center; */
    /* padding: 100px; */
}