/* body {
    background-color: #121212;
    color: #e5c163
  } */
  
  .infoWindow{
    color: #121212;
  }
  
  .locate {
    position: absolute;
    top: 15rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 10;
  }
  .locate img {
    width: 30px;
    cursor: pointer;
  }

  .search {
    position: absolute;
    top: 57px;
    left: 100px;
    /* transform: translateX(-50%); */
    /* width: 100%; */
    max-width: 400px;
    z-index: 2;
    border-radius: 10px;
  }
  
  .search input {
    padding: 7px;
    /* font-size: 1.5rem; */
    width: 100%;
    margin: 0;
    border-radius: 5px;
    border: 1px solid rgb(191, 191, 191);
  }