.PARCard {
    width: 300px;
    margin: 15px;
    justify-content: space-evenly;
}

.PendingRequestsBody {
    display: inline-flex;
    align-items: baseline;
}

.PendingMakerImg{
    width: 100%;
    height: auto;
}

.viewProfileLink {
    text-decoration: none;
    color: rgb(247, 247, 247);
}

.viewProfileLink:hover {
    text-decoration: none;
    color: white;
}