.PARCard {
    /* width: 350px; */
    margin: 15px;
    /* justify-content: space-evenly; */
}

.PendingRequestsBody {
    display: inline-block;
    /* align-items: baseline; */
}

.PendingMakerImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.viewProfileLink {
    text-decoration: none;
    color: rgb(247, 247, 247);
}

.viewProfileLink:hover {
    text-decoration: none;
    color: white;
}

.viewProfileBtn {
    background-color: rgb(122,172,85);
    border: none;
    float: right;
    transition: 0.3s;
}

.viewProfileBtn:hover {
    background-color: rgb(5,103,54);
    border: none;
    float: right;
}

.acceptDeclineBtns {
    float: right;
    margin-left: 10px;
}