/* .requestBtn{
    display: block;
    
} */
/* .btn{
    width: "50px";
    margin: "5px";
} */

.PARCard {
    width: 30%;
    margin: 15px;
}

.PendingRequestsBody {
    display: inline-flex;
}

.acceptDeclineBtns {
    margin: 5px;
}

.viewProfileLink {
    text-decoration: none;
    color: rgb(247, 247, 247);
}

.viewProfileLink:hover {
    text-decoration: none;
    color: white;
}