.registerOptionsCard {
    background-color: rgba(0, 0, 0, 0.858);
    color: white;
    text-align: center;
    padding: 50px;
    width: 700px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.registerOptionsBody {
    padding: 100px;
    min-height: 80.3vh;
    background-image: url('../../TestImages/strawberries.jpg');
    background-size: cover;
}

.registerOptionsButton {
    margin: 10px;
    width: 200px;
}

.buttonsContainer {
    display: inline-flex;
}

.registerOptionsHr {
    background-color: white;
}