
.navBar {
    background-color: #f6f9f5 !important;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navLogo {
    width: 200px;
}

.topNav {
    background-color: rgb(5,103,54);
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav-link {
    color: rgb(235, 235, 235) !important;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 20px;
  }

.nav-link:hover {
    color: #000000 !important;
    text-decoration: none;
  }

  .loginOut {
      color: #faf5e8 !important;
  }

  .navContents {
    color: white !important;
    width: 200px;
    text-align: center;
    background-color: rgb(122,172,85);
    border: 2px solid rgb(122,172,85);
    border-radius: 5px;
    transition: 0.3s;
  }
  
  .navContents:hover {
    color: #faf8f2 !important;
    width: 200px;
    background-color: rgb(5,103,54);
    border-color: rgb(5,103,54);
  }

  .navContainer {
        /* padding-bottom: 150px; */
        margin-bottom: 10px;
  }

  .title {
    background-color: rgb(5, 103, 54);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    color: #faf8f2;
    text-align: center !important;
    font-family: 'Vidaloka', serif;
  }

  .brand {
      padding: 10px;
      padding-left: 20px;
      /* background-color: #faf5e8; */
  }

  .navImg {
    background-image: url('../../TestImages/tomatoes.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px;
  }