.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;
}

.nav-link {
  color: #f2f2f2;
  text-decoration: none;
  width: 100%;
}

.nav-right {
  float: right;
}

.nav-item {
  padding: 10px;
}