

.makerAppInput {
    width: 400px;
    margin-left: 0;
}

.dropdown-menu {
    height: 300px;
    overflow-y: scroll;
}

h4{
    padding-top: 20px;
}

.makerAppGroup{
    padding: 20px;
}

.tab-content {
    margin-left: 40px;
}

.productType{
    margin-left: 85px;
}

.featuredProducts{
    width: 100%;
    margin-left: 0;
}

/* MODALS */

    .modalHeader {
        /* background-color: rgb(122,172,85) !important; */
        background-color: rgb(5,103,54) !important;
        color: white;
    }

    .modal-header .close {
        color: rgb(255, 255, 255);
    }

    .modal {
        margin-top: 200px;
    }

    .modalBtns {
        background-color: rgb(122,172,85);
        border-color: rgb(122,172,85);
    }

    .modalBtns:hover {
        background-color: rgb(5,103,54);
        border-color: rgb(5,103,54);
    }

    .modalFooter {
        border-top: none;
    }