.MakerCard {
    width: 20%;
    margin: 20px;
    /* height: 700px; */
    /* justify-content: space-evenly; */
}

.MakerTabBody {
    display: inline-flex;
    align-items: baseline;
}
.MakerCardImg{
    width: 100%;
} 

